<launch>
  <arg name="gui" value="true" />

  <arg name="method_path" default="$(find lingua)/data/methods" />

  <arg name="grammar" value="$(find lingua)/grammar/grammar.xml" />
  <arg name="handlers" default="" />

  <arg name="objects_file" default="" />
  <arg name="types_file" default="" />

  <include file="$(find lingua_world)/launch/world.launch" />
  
  <include file="$(find lingua_kb)/launch/lingua_kb.launch">
    <arg name="handlers" value="$(arg handlers)" />
  </include>
  
  <include file="$(find openccg_ros)/launch/openccg.launch">
    <arg name="grammar" value="$(arg grammar)" />
  </include>

  <group if="$(arg gui)">
    <node pkg="rqt_py_trees" type="rqt_py_trees" name="rqt_py_trees" />
  </group>

  <node pkg="lingua" type="resolver" name="resolver" output="screen" required="true" />
  <node pkg="lingua" type="speech" name="speech" />

  <node pkg="lingua" type="lingua" name="lingua" output="screen">
    <param name="method_path" value="$(arg method_path)" />
    <param name="objects_file" value="$(arg objects_file)" if="$(eval len(str(arg('objects_file'))) > 0)" />
    <param name="types_file" value="$(arg types_file)" if="$(eval len(str(arg('types_file'))) > 0)" />
  </node>

</launch>